# Ignore Composer vendor directory
/vendor/

# Ignore Composer lock file
/composer.lock

# Ignore VSCode settings and workspace files
.vscode/

# Ignore SQLite database file
/src/Infra/Persistence/SQLite/library.sqlite3